<ng-container *ngIf="product != undefined">
  <div class="container" >
    <div class="row">
      <div class="col-md-auto">
        <img class="product-image" src="{{product.image}}" alt="{{product.title}}">
      </div>
      <div class="title col-md-auto">
        <div class="product-name text-center">"{{cake.name}}"</div>
        <div class="card">
          <div class="ingredients card-body" *ngFor="let ingr of cake.ingredients">
            <ul>
              <li>{{ingr.name}} - {{ingr.amount}}</li>
            </ul>
          </div>
        </div>
        </div>
    </div>
  </div>

  <div class="container instruction" *ngFor = "let instr of cake.instruction">
    <div class="card">
      <div class="card-header"><strong>{{instr.step}}.</strong></div>
      <div class="card-body">{{instr.description}}</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="product == null && product != undefined">
  <div class="container">
    Нет такого продукта :(
  </div>
</ng-container>


