.container{
  margin-top: 25px;
}
.card{
  margin-bottom: 10px;
}
img{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto
}


.form-group{
  margin-top: 20px;
}

.form-control {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
