<!--
<div style="{color: red}">Welcome to CandyShop!</div>
<div><a routerLink="/catalog">Click here to visit catalog!</a></div>
-->

<div class="card text-center h-auto mt-5" *ngIf="!user">
  <h6 class="card-header">Google Authentication</h6>
  <div class="card-block">
    <h4 class="card-title">Вы не авторизованы.</h4>
    <p class="card-text mb-3">Войдите с помощью Google!</p>
  </div>
<!--  <div class="card-block justify-content-center">-->
<!--    <button class="btn btn-success" (click)="signInWithGoogle()">-->
<!--      Войти в аккаунт Google-->
<!--    </button>-->

<!--  </div>-->
  <div class="google-btn justify-content-center">
    <asl-google-signin-button class=""></asl-google-signin-button>
  </div>
</div>

<div class="card text-center mt-5" *ngIf="user">
  <h6 class="card-header">Google Authentication</h6>
  <div class="card-block"></div>
  <img class="card-img-top img-responsive photo" src="{{user.photoUrl}}" alt="User's profile photo">
  <div class="card-block">
    <h4 class="card-title mt-2">Здравствуйте, {{user.name}}!</h4>
    <p class="card-text">Email: {{user.email}}</p>
  </div>
  <div class="card-block">
    <button class="btn btn-primary mt-3 mb-3" (click)="signOut()">
      Выйти из аккаунта
    </button>
  </div>
  <button class="btn-success mb-2" routerLink="/catalog">Перейти к покупкам!</button>
</div>


